
			[data-rs-theme="productThemeFragment"] {
					--rs-color-white: #ffffff;
--rs-color-black: #000000;
--rs-color-on-background-primary: #ffffff;
--rs-color-on-background-critical: #ffffff;
--rs-color-on-background-positive: #ffffff;
--rs-color-rgb-white: 255, 255, 255;
--rs-color-rgb-black: 0, 0, 0;
			}
		
			[data-rs-theme="productThemeFragment"][data-rs-color-mode="light"] {
					--rs-color-background-primary: #ff0000;
--rs-color-background-primary-faded: #fff0f0;
--rs-color-background-primary-highlighted: #ec0000;
--rs-color-border-primary: #e40000;
--rs-color-border-primary-faded: #fcd7d7;
--rs-color-foreground-primary: #ce0000;
--rs-color-background-critical: #e22c2c;
--rs-color-background-critical-faded: #fdf2f2;
--rs-color-background-critical-highlighted: #d02828;
--rs-color-border-critical: #bf2424;
--rs-color-border-critical-faded: #f6dada;
--rs-color-foreground-critical: #c42525;
--rs-color-background-positive: #118850;
--rs-color-background-positive-faded: #f1fdf8;
--rs-color-background-positive-highlighted: #0f7d49;
--rs-color-border-positive: #0c6e40;
--rs-color-border-positive-faded: #cdede0;
--rs-color-foreground-positive: #0d7544;
--rs-color-background-neutral: #dfe2ea;
--rs-color-background-neutral-faded: #f6f7f9;
--rs-color-background-neutral-highlighted: #d2d7e2;
--rs-color-border-neutral: #b3bbce;
--rs-color-border-neutral-faded: #e2e3e4;
--rs-color-foreground-neutral: #14181f;
--rs-color-foreground-neutral-faded: #5b667e;
--rs-color-background-disabled: #eceef2;
--rs-color-background-disabled-faded: #f5f6f9;
--rs-color-border-disabled: #dfe2ea;
--rs-color-foreground-disabled: #c6ccda;
--rs-color-background-elevation-base: #ffffff;
--rs-color-background-elevation-raised: #ffffff;
--rs-color-background-elevation-overlay: #ffffff;
--rs-color-background-page: #ffffff;
--rs-color-background-page-faded: #f9f9fb;
--rs-color-rgb-background-primary: 255, 0, 0;
--rs-color-rgb-background-primary-faded: 255, 240, 240;
--rs-color-rgb-background-primary-highlighted: 236, 0, 0;
--rs-color-rgb-border-primary: 228, 0, 0;
--rs-color-rgb-border-primary-faded: 252, 215, 215;
--rs-color-rgb-background-critical: 226, 44, 44;
--rs-color-rgb-background-critical-faded: 253, 242, 242;
--rs-color-rgb-background-critical-highlighted: 208, 40, 40;
--rs-color-rgb-border-critical: 191, 36, 36;
--rs-color-rgb-border-critical-faded: 246, 218, 218;
--rs-color-rgb-background-positive: 17, 136, 80;
--rs-color-rgb-background-positive-faded: 241, 253, 248;
--rs-color-rgb-background-positive-highlighted: 15, 125, 73;
--rs-color-rgb-border-positive: 12, 110, 64;
--rs-color-rgb-border-positive-faded: 205, 237, 224;
--rs-color-on-background-neutral: #000000;
--rs-color-rgb-background-neutral: 223, 226, 234;
--rs-color-rgb-background-neutral-faded: 246, 247, 249;
--rs-color-rgb-background-neutral-highlighted: 210, 215, 226;
--rs-color-rgb-border-neutral: 179, 187, 206;
--rs-color-rgb-border-neutral-faded: 226, 227, 228;
--rs-color-rgb-background-disabled: 236, 238, 242;
--rs-color-rgb-background-disabled-faded: 245, 246, 249;
--rs-color-rgb-border-disabled: 223, 226, 234;
--rs-color-rgb-background-elevation-base: 255, 255, 255;
--rs-color-rgb-background-elevation-raised: 255, 255, 255;
--rs-color-rgb-background-elevation-overlay: 255, 255, 255;
--rs-color-rgb-background-page: 255, 255, 255;
--rs-color-rgb-background-page-faded: 249, 249, 251;
			}
		
			[data-rs-theme="productThemeFragment"][data-rs-color-mode="dark"] {
					--rs-color-background-primary: #950000;
--rs-color-background-primary-faded: #3e1f1f;
--rs-color-background-primary-highlighted: #a70000;
--rs-color-border-primary: #ff6060;
--rs-color-border-primary-faded: #582929;
--rs-color-foreground-primary: #ff6060;
--rs-color-background-critical: #c51b1b;
--rs-color-background-critical-faded: #3e1f1f;
--rs-color-background-critical-highlighted: #d71f1f;
--rs-color-border-critical: #f86666;
--rs-color-border-critical-faded: #582929;
--rs-color-foreground-critical: #f36a6a;
--rs-color-background-positive: #10844e;
--rs-color-background-positive-faded: #1f2a23;
--rs-color-background-positive-highlighted: #128f55;
--rs-color-border-positive: #18ab67;
--rs-color-border-positive-faded: #293b2f;
--rs-color-foreground-positive: #18ab66;
--rs-color-background-neutral: #3f4861;
--rs-color-background-neutral-faded: #222835;
--rs-color-background-neutral-highlighted: #47516d;
--rs-color-border-neutral: #48526e;
--rs-color-border-neutral-faded: #2d374c;
--rs-color-foreground-neutral: #eff1f5;
--rs-color-foreground-neutral-faded: #c0c6d6;
--rs-color-background-disabled: #1c212f;
--rs-color-background-disabled-faded: #151925;
--rs-color-border-disabled: #242a3a;
--rs-color-foreground-disabled: #3f4962;
--rs-color-background-elevation-base: #131722;
--rs-color-background-elevation-raised: #171b27;
--rs-color-background-elevation-overlay: #1b1f2c;
--rs-color-background-page: #0d111a;
--rs-color-background-page-faded: #10131d;
--rs-color-rgb-background-primary: 149, 0, 0;
--rs-color-rgb-background-primary-faded: 62, 31, 31;
--rs-color-rgb-background-primary-highlighted: 167, 0, 0;
--rs-color-rgb-border-primary: 255, 96, 96;
--rs-color-rgb-border-primary-faded: 88, 41, 41;
--rs-color-rgb-background-critical: 197, 27, 27;
--rs-color-rgb-background-critical-faded: 62, 31, 31;
--rs-color-rgb-background-critical-highlighted: 215, 31, 31;
--rs-color-rgb-border-critical: 248, 102, 102;
--rs-color-rgb-border-critical-faded: 88, 41, 41;
--rs-color-rgb-background-positive: 16, 132, 78;
--rs-color-rgb-background-positive-faded: 31, 42, 35;
--rs-color-rgb-background-positive-highlighted: 18, 143, 85;
--rs-color-rgb-border-positive: 24, 171, 103;
--rs-color-rgb-border-positive-faded: 41, 59, 47;
--rs-color-on-background-neutral: #ffffff;
--rs-color-rgb-background-neutral: 63, 72, 97;
--rs-color-rgb-background-neutral-faded: 34, 40, 53;
--rs-color-rgb-background-neutral-highlighted: 71, 81, 109;
--rs-color-rgb-border-neutral: 72, 82, 110;
--rs-color-rgb-border-neutral-faded: 45, 55, 76;
--rs-color-rgb-background-disabled: 28, 33, 47;
--rs-color-rgb-background-disabled-faded: 21, 25, 37;
--rs-color-rgb-border-disabled: 36, 42, 58;
--rs-color-rgb-background-elevation-base: 19, 23, 34;
--rs-color-rgb-background-elevation-raised: 23, 27, 39;
--rs-color-rgb-background-elevation-overlay: 27, 31, 44;
--rs-color-rgb-background-page: 13, 17, 26;
--rs-color-rgb-background-page-faded: 16, 19, 29;
			}
		